body{
  background: #FFFFFF;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}
.container{
  /*margin: auto;*/
  height:  768px;
  width: 1024px;
}
.row{
  display: flex;
}
.top-row{
  align-items: center;
  height: 300px;
}

/*upper left*/
.burkson-logo{
  width: 130px;
}
.logo-container{
  text-align: center;
  padding-left: 165px;
  padding-right: 60px;
}
.burkson-container{
  padding-left: 65px;
  border-left: 1px solid lightgrey;
  height: 120px;

}
/*upper right*/
.burkson-container h1{
  margin-bottom: 0;
}
.burkson-container h2{
  font-weight: 100;
  margin-top: 5px;
}

/*lower left*/
.input-container{
  flex-basis: 350px;
  font-size: 1.2em;
  padding-left: 165px;
  padding-right: 100px;
}
input{
  height: 50px;
  width: 225px;
  font-size: 1.2em;
}
.create-pin{
  margin-bottom: 7px;
}
#message{
  white-space: pre;
}



/*lower right*/

#pin-pad div{
  display: flex;
}
.key{
  text-align: center;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 1em;
  background: #F4F4F4;
  color: #020202;
  border-radius: 100%;
  border: none;
  font-size: 1.3em;
  margin: 10px;
  justify-content: space-between;
}
.key-with-text{
  font-size: .8em;
}
.key:hover{
  background: #0000001c;
  box-shadow: 0px 0px 2px inset #F4F4F4;
}



/* ----------- iPhone 6, 6S, 7 and 8 Potrait ----------- */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation : portrait)
 {
  .top-row{
    height: 375px;
    background: lightblue;
  }
  .bottom-row{
    flex-direction: column;
  }
  .input-container{
    padding: 0px 180px
  }
  input{
    height: 70px;
    width: 638px;
  }
  .logo-container{
    padding-right: 25px;
  }
  .burkson-logo{
    width: 160px;
    padding-top: 56px;
  }

  .burkson-container h1{
    font-size: 3em;
    margin-top: 0;
  }
  .burkson-container h2{
    font-weight: 100;
    margin-top: 5px;
    font-size: 2.2em;
  }
  .burkson-container{
    padding-left: 25px;
  }
  #pin-pad{
    align-self: center;
  }
  #pin-pad div{
    display: block;
  }
  .key{
    font-size: 2.2em;
    margin: 15px;
    width: 150px;
    height: 150px;
  }
  .input-container{
    font-size: 2em;
  }
}


/* ----------- iPhone 6, 6S, 7 and 8 Landscape ----------- */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation : landscape)
 {
   .container{
     display: flex;
     flex-direction: row;
   }
   .row{
     flex-direction: column;
     align-items: center;
   }
   .top-row{
     flex: 1;
     height: 375px;
     align-items: center;
   }
   .bottom-row{
     flex: 5;
     flex-direction: row;
     align-items: flex-start;
   }
   .burkson-logo{
     padding: 0;
   }
   .logo-container{
     padding: 0;
     padding-top: 50px;
     padding-left: 54px;
   }
   .burkson-container{
     border: 0;
   }
   .input-container{
     padding: 0;
     flex-basis: auto;
     flex: 1;
     padding: 70px;
     padding-left: 90px;
   }
   #pin-pad{
     flex: 1;
     padding-top: 60px;
   }
 }

/*Ipad Portrait*/
 @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
    .container{
      display: flex;
      flex-direction: column;
      flex-basis: 768px;
      height: 1024px;
      align-items: center;
      justify-content: center;
    }
    .logo-container{
      padding-left: 10px;
      padding-right: 50px
    }
    .burkson-container{
      padding-left: 50px;
    }
  }
